.chat-bot-input {
  border: none;
  color: var(--body-color);
  background-color: var(--input-bg);
  padding: 16px;
  border-radius: 12px;
  font-size: 16px;
  line-height: 22px;
  width: 100%;
  min-height: 50px;
  resize: none;
  //height: fit-content;
  //max-height: 128px;
  //overflow: auto;
  //resize: none;

  &::placeholder {
    color: var(--input-chat-color);
  }
}
