.chat-msg {
  display: flex;
  padding: 0 20px 45px;

  &-wrapper {
    display: flex;
    flex-direction: column;
  }

  &-content {
    max-width: 70%;
    display: flex;
    align-items: flex-end;

    // background-color: var(--chat-text-bg);
    border: 1px solid #E8E8F0;
    background-color: #fff;
    color: #1B1B1B;
    border-radius: 16px 16px 16px 0;
    width: 100%;
    padding: 10px;
    max-width: fit-content;
  }

  &-text {
    // background-color: var(--chat-text-bg);
    background-color: #fff;
    border-radius: 16px 16px 16px 0;
    width: 100%;
    padding: 0 14px 0 0;

    &:deep(p) {
      color: var(--chat-text-color);
      line-height: 1.5;
      font-size: 14px;
      font-weight: 500;
    }
  }

  &-profile {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    flex-shrink: 0;
    margin-top: auto;
    margin-bottom: -20px;
    position: relative;
  }

  &-img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
  }

  &-date {
    // position: absolute;
    // left: calc(100% + 12px);
    // bottom: 0;
    font-size: 12px;
    font-weight: 600;
    color: var(--msg-date);
    white-space: nowrap;
  }

  &-actions {
    width: 100%;
    margin-top: 10px;
    display: grid;
    gap: 14px;
    grid-template-columns: repeat(2, 1fr);
    max-width: fit-content;

    &:deep(.chat-msg-action),
    &:deep(.chat-msg-actions),
    &:deep(.add-to-cart-actions) {
      width: 100%;

      &:nth-child(odd):is(:last-child) {
        grid-column: span 2;
      }
    }
  }
}

.owner {
  flex-direction: row-reverse;
  padding-bottom: 30px;

  .chat-msg {
    &-actions {
      display: none;
    }

    &-content {
    background-color: var(--chat-text-bg);
      margin-left: 0;
      margin-right: 0;
      align-items: flex-end;
      border: none;
    }

    &-text {
      // background-color: var(--theme-color);
      background-color: var(--chat-text-bg);
      border-radius: 16px 16px 0 16px;

      &:deep(p) {
        color: var(--chat-text-color);
      }
    }

    &-date {
      left: auto;
      right: calc(100% + 12px);
    }

    &-profile {
      width: 0;
      height: 0;

      .chat-msg-img {
        display: none;
      }
    }
  }
}

.chat-msg.product-template {
  .chat-msg-wrapper {
    .chat-msg-actions {
      max-width: none;
    }
  }

  &:deep {
    .chat-msg-content {
      max-width: 100%;
      border: none;
    }

    .chat-msg-text {
      padding: 0;

      p {
        color: var(--chat-text-color);
        line-height: 1.2;
      }
    }

    .product-template-title {
      font-size: 16px;
      font-weight: 600;
    }

    .product-template-description {
      font-weight: 400;
    }

    .product-template-price {
      font-weight: normal;
      margin-top: 16px;

      &__label {
        font-weight: 600;
      }
    }
  }
}

.chat-msg.orders-view {
  width: 100%;
  flex: 1;

  &:deep {
    .chat-msg-content {
      max-width: 100%;
      flex: 1;

      .chat-msg-profile {
        display: none;
      }

      .chat-msg-content {
        margin-left: 0;
      }

      .chat-msg {
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 35px;
        width: 100%;

        &:last-child {
          padding-bottom: 0;
        }
      }
    }

    .chat-msg-text {
      p {
        color: var(--chat-text-color);
        line-height: 1.2;
        font-weight: normal;
      }
    }

    .orders-view-description {
      font-weight: 400;
    }

    .orders-view-price {
      font-weight: normal;
      margin-top: 16px;

      &__label {
        font-weight: 600;
      }
    }
  }
}

.chat-msg.order-details {
  width: 100%;
  flex: 1;

  &:deep {
    .chat-msg-content {
      max-width: 100%;
      flex: 1;

      .chat-msg-profile {
        display: none;
      }

      .chat-msg-content {
        margin-left: 0;
      }

      .chat-msg {
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 35px;
        width: 100%;

        &:last-child {
          padding-bottom: 0;
        }
      }
    }

    .chat-msg-text {
      p {
        color: var(--chat-text-color);
        line-height: 1.2;
        font-weight: normal;
      }
    }

    .orders-view-description {
      font-weight: 400;
    }

    .orders-view-price {
      font-weight: normal;
      margin-top: 16px;

      &__label {
        font-weight: 600;
      }
    }
  }
}

.chat-msg.__products-template {
  width: 100%;
  flex: 1;

  .chat-msg-date {
    display: none;
  }

  &:deep {
    .chat-msg-content {
      max-width: 100%;
      flex: 1;

      display: flex;
      flex-direction: column;
      max-width: fit-content;
      gap: 16px;

      .chat-msg-profile {
        display: none;
      }

      .chat-msg-content {
        margin-left: 0;
      }

      .chat-msg {
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 35px;
        width: 100%;

        &:last-child {
          padding-bottom: 0;
        }
      }
    }

    .chat-msg-text {
      p {
        color: var(--chat-text-color);
        line-height: 1.2;
        font-weight: normal;
      }
    }

    .orders-view-description {
      font-weight: 400;
    }

    .orders-view-price {
      font-weight: normal;
      margin-top: 16px;

      &__label {
        font-weight: 600;
      }
    }
  }
}
